<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="container">
      {{>header}}
      <p>Use this site to get your weather!</p>
      <form>
        <input type="text" placeholder="Location">
        <button>Search</button>
      </form>
      <p id="first-message"></p>
      <p id="second-message"></p>
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
  </body>
</html>
