<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Not found</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="container">
      {{>header}}
      <p>{{message}}</p>
    </div>
    {{>footer}}
  </body>
</html>
